.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.badge-img {
    width: 20px;
    margin-right: 5px;
}
.interaction_buttons {
    max-width: 350px;
}