<div class="container">  
    <mat-chip-list style="align-items: center;">
        <mat-chip color="primary" (click)="openVehicle()" ><img src="../../../assets/img/vehicles/key.svg" class="badge-img"> Zamek</mat-chip>
        <mat-chip color="primary" (click)="openDoor(5)"><img src="../../../assets/img/vehicles/car.svg" class="badge-img"> Maska</mat-chip>
        <mat-chip color="primary" (click)="openDoor(4)"><img src="../../../assets/img/vehicles/car_trunk.svg" class="badge-img"> Bagażnik</mat-chip>
    </mat-chip-list>
</div>

<div class="container-in-vehicle">
    <mat-card class="into-vehicle-card">
      <!-- <mat-card-content>
          <div class="into-vehicle-buttons">
              <img src="../../../assets/img/vehicles/motor.svg">
              <img src="../../../assets/img/vehicles/car_trunk.svg">
              <img src="../../../assets/img/vehicles/car.svg">
              <img src="../../../assets/img/vehicles/question.svg" style="width: 25px;">
          </div>
      </mat-card-content> -->

      <mat-card-content>
          <mat-chip-list class="into-chips">
              <mat-chip color="primary"><img src="../../../assets/img/vehicles/motor.svg" class="into-vehicle-chips">Silnik</mat-chip>
          </mat-chip-list>
      </mat-card-content>
    </mat-card>
</div>