<div class="container">  
    <mat-chip-list style="align-items: center;">
        <mat-chip color="primary" (click)="openVehicle()" ><img src="../../../assets/img/vehicles/key.svg" class="badge-img"> Zamek</mat-chip>
        <mat-chip color="primary" (click)="openDoor(4)"><img src="../../../assets/img/vehicles/car.svg" class="badge-img"> Maska</mat-chip>
        <mat-chip color="primary" (click)="openDoor(5)"><img src="../../../assets/img/vehicles/car_trunk.svg" class="badge-img"> Bagażnik</mat-chip>
    </mat-chip-list>
</div>
