.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    width: 1200px;
}
.bag-img {
    width: 200px;
}
.item-name {
    font-weight: 500;
}

.item-cost {
    margin-left: 5px;
}

.next-step-btn {
    margin-left: 5px;
}

.item-list {
    width: 400px;
}

.basket-container {
    width: 800px;
}

.shop-container {
    width: 800px;
}