.app_content {
    height: 508px;
    width: 267px;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    /* background-color: azure; */
    z-index: -1;
    position: absolute;
}

.app_footer {
    width: 261px;
    margin-top: 154.1%;
    height: 47px;
    background-color: rgba(51, 51, 51, 0.616);
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 31px;
    position: absolute;
    z-index: 3;
    backdrop-filter:blur(4px);
}

.telephone_app_options {
    display: flex;
    margin-left: 23px;
}

.telephone_app_option {
    width: 48px;
    padding: 5px;
}

.telephone_app_option img {
    opacity: 0.7;
    width: 24px;
    height: 24px;
}
.telephone_app_option p {
    margin-top: 0px;
    margin-left: -8px;
    color: white;
    /* opacity: 0.7; */
    font-size: 11px;
    font-family: 'SF UI Display Ultralight';
}
/* .telephone_app_option svg:hover {
    fill: blue;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
} */
.telephone_app_option p:hover {
    color: #007AFF;
}