<div class="container">
    <mat-card>
        <mat-card-header>
            <i class="material-icons">
                monetization_on
            </i>
          <mat-card-title>Oferta</mat-card-title>
          <mat-card-subtitle>Zaakceptuj lub odrzuć tą ofertę</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
        <p>Przedmiot: {{ offerItemData.item.name }}</p>
        <p>Cena: {{ offerItemData.cost }}$</p>

          <div class="buttons">
            <button mat-button (click)="offerRequestResult(true)">
              <i class="material-icons">
                  check
              </i>
              Zaakceptuj
            </button>
            <button mat-button (click)="offerRequestResult(false)">
                <i class="material-icons">
                    close
                </i>  
              Odrzuć
            </button>
          </div>
        </mat-card-content>
      </mat-card>
</div>