<div class="container">
  <mat-card class="card-container">
    <mat-card-header>
      <img mat-card-avatar src="../../../assets/img/clip/clip.gif" />
      <mat-card-title>Ekwipunek</mat-card-title>
      <mat-card-subtitle>Znajdują się tu wszystkie itemy twojej postaci, aby użyć jednego z przemiotów kliknij na niego</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content class="card-content-container">
        <mat-list role="list">
          <mat-list-item *ngFor="let item of inventoryItems">
              <button mat-button class="item-button" [matMenuTriggerFor]="menu" [style.backgroundColor]="item.itemInUse ? 'gray' : ''">
              <p class="item-name">{{ item.name }}</p> 
              <p class="item-count">{{ item.count }}x</p>
              </button>

              <mat-menu #menu="matMenu" class="menu-detail">
                  <button mat-menu-item (click)="useItem(item.id)">Użyj</button>
                  <button mat-menu-item>Oferuj</button>
                  <button mat-menu-item>Wyrzuć</button>
                </mat-menu>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
  </mat-card>
</div>
