<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        settings_ethernet
      </i>
    </div>
  <mat-card-subtitle>Krój podkoszulka</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.undershirtId" [max]="undershirtId" [step]="1" [(ngModel)]="characterLook.undershirtId"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        remove_red_eye
      </i>
    </div>
  <mat-card-subtitle>Model podkoszulka</mat-card-subtitle>
  </mat-card-header>

  <!-- TODO: Naprawić bląd który wywala przez to, że tablica jest pusta na początku przez chwile -->
  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.undershirtTexture" [max]="undershirtTexture" [(ngModel)]="characterLook.undershirtTexture" step="1"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        settings_ethernet
      </i>
    </div>
  <mat-card-subtitle>Krój koszulki</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.topId" [max]="topId" [step]="1" [(ngModel)]="characterLook.topId"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        remove_red_eye
      </i>
    </div>
  <mat-card-subtitle>Model koszulki</mat-card-subtitle>
  </mat-card-header>

  <!-- TODO: Naprawić bląd który wywala przez to, że tablica jest pusta na początku przez chwile -->
  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.topTexture" [max]="topTexture" [(ngModel)]="characterLook.topTexture" step="1"></mat-slider>
  </mat-card-content>
</mat-card>