<div class="container">
    <mat-card class="object-information">
        <mat-card-header>
            <span class="material-icons" mat-card-avatar>
                weekend
            </span>
          <mat-card-title>Informacje o obiekcie</mat-card-title>
          <mat-card-subtitle>Podstawowe informacje na temat obiektu, który rozkładasz na świecie</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
              <mat-list-item>
                  <span class="material-icons">
                      visibility
                  </span>
                  <p class="p-title">Nazwa obiektu:</p>
                  <p class="p-data">[ Blat ]</p>
              </mat-list-item>
            <mat-list-item>
              <span class="material-icons">
                language
              </span>
              <p class="p-title">Obiekt globalny:</p>
              <p class="p-data">[ Nie ]</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      
      <div class="keys-container">
        <mat-card>
          <mat-card-header>
              <span class="material-icons" mat-card-avatar>
                  zoom_out_map
              </span>
              <mat-card-title>Sterowanie</mat-card-title>
              <mat-card-subtitle>Sterowanie obiektem odbywa się poprzez ruchy myszką, rotacją możemy manipulować za pomocą strzałek widocznych poniżej</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <div class="keys-content">
                <img src="../../../../assets/img/key/controls.png">
                <img src="../../../../assets/img/key/computer-mouse.svg">
              </div>
          </mat-card-content>
        </mat-card>
      </div>
</div>