<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość nosa</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.noseWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.noseWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość szczytu nosa </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.nosePeakHight" [max]="2" [step]="0.1" [(ngModel)]="characterLook.nosePeakHight"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szczytowa długość nosa </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.nosePeakLenght" [max]="2" [step]="0.1" [(ngModel)]="characterLook.nosePeakLenght"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość poziomu kości nosowej </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.noseBoneHigh" [max]="2" [step]="0.1" [(ngModel)]="characterLook.noseBoneHigh"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Opuszczanie szczytu nosa </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.nosePeakLowering" [max]="2" [step]="0.1" [(ngModel)]="characterLook.nosePeakLowering"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Skręcenie kości w nosie </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.noseBoneTwist" [max]="2" [step]="0.1" [(ngModel)]="characterLook.noseBoneTwist"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość oczu </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.eyeBrownHigh" [max]="2" [step]="0.1" [(ngModel)]="characterLook.eyeBrownHigh"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysunięta kość nad oczami do przodu</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.eyeBrownForward" [max]="2" [step]="0.1" [(ngModel)]="characterLook.eyeBrownForward"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość kości policzkowych</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.cheeksBoneWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.cheeksBoneHigh"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość kości policzkowych</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.cheeksBoneWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.cheeksBoneWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość policzków</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.cheeksWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.cheeksWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Otwarcie oczu</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.eyesOpenning" [max]="2" [step]="0.1" [(ngModel)]="characterLook.eyesOpenning"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Grubość ust</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.lipsThickness" [max]="2" [step]="0.1" [(ngModel)]="characterLook.lipsThickness"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość kości żuchwy</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.jawBoneBackLenght" [max]="2" [step]="0.1" [(ngModel)]="characterLook.jawBoneWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość kości szczęki</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.jawBoneBackLenght" [max]="2" [step]="0.1" [(ngModel)]="characterLook.jawBoneBackLenght"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Opuszczenie kości brody</mat-card-subtitle> 
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.chimpBoneLowering" [max]="2" [step]="0.1" [(ngModel)]="characterLook.chimpBoneLowering"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Długość kości żuchwy</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.chimpBoneLenght" [max]="2" [step]="0.1" [(ngModel)]="characterLook.chimpBoneLenght"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Długość brody</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.chimpBoneWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.chimpBoneWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość brody</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.chimpHole" [max]="2" [step]="0.1" [(ngModel)]="characterLook.chimpHole"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Przedziałek na brodzie</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.neckThikness" [max]="2" [step]="0.1" [(ngModel)]="characterLook.neckThikness"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Przestarzałość twarzy</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.ageingId" min="0" max="14" step="1" [(ngModel)]="characterLook.ageingId"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Widoczność przestarzałości twarzy</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.ageingOpacity" min="0" max="1" step="0.1" [(ngModel)]="characterLook.ageingOpacity"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Makijaż</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.makeupId" min="0" max="74" step="1" [(ngModel)]="characterLook.makeupId"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Kolor makijażu</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.firstMakeupColor" min="0" max="48" step="1" [(ngModel)]="characterLook.firstMakeupColor"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Drugi kolor makijażu</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.secondMakeupColor" min="0" max="48" step="1" [(ngModel)]="characterLook.secondMakeupColor"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Widoczność makijazu</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.makeupOpacity" min="0" max="1" step="0.1" [(ngModel)]="characterLook.makeupOpacity"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Rumieńce</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.blushId" min="0" max="6" step="1" [(ngModel)]="characterLook.blushId"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Kolor rumieńcy</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.blushColor" min="0" max="48" step="1" [(ngModel)]="characterLook.blushColor"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Widoczność rumieńcy</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.blushOpacity" min="0" max="1" step="0.1" [(ngModel)]="characterLook.blushOpacity"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Szminka</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.lipstickId" min="0" max="9" step="1" [(ngModel)]="characterLook.lipstickId"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Widoczność szminki</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.lipstickOpacity" min="0" max="1" step="0.1" [(ngModel)]="characterLook.lipstickOpacity"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Kolor szminki</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.firstLipstickColor" min="0" max="48" step="1" [(ngModel)]="characterLook.firstLipstickColor"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        child_care
      </i>
    </div>
    <mat-card-subtitle>Drugi kolor szminki</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [thumbLabel]="characterLook.secondLipstickColor" min="0" max="48" step="1" [(ngModel)]="characterLook.secondLipstickColor"></mat-slider>
  </mat-card-content>
</mat-card>