<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość nosa</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.noseWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.noseWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość szczytu nosa </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.nosePeakHight" [max]="2" [step]="0.1" [(ngModel)]="characterLook.nosePeakHight"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szczytowa długość nosa </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.nosePeakLenght" [max]="2" [step]="0.1" [(ngModel)]="characterLook.nosePeakLenght"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość poziomu kości nosowej </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.noseBoneHigh" [max]="2" [step]="0.1" [(ngModel)]="characterLook.noseBoneHigh"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Opuszczanie szczytu nosa </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.nosePeakLowering" [max]="2" [step]="0.1" [(ngModel)]="characterLook.nosePeakLowering"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Skręcenie kości w nosie </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.noseBoneTwist" [max]="2" [step]="0.1" [(ngModel)]="characterLook.noseBoneTwist"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość oczu </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.eyeBrownHigh" [max]="2" [step]="0.1" [(ngModel)]="characterLook.eyeBrownHigh"></mat-slider>
  </mat-card-content>+
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysunięta kość nad oczami do przodu</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.eyeBrownForward" [max]="2" [step]="0.1" [(ngModel)]="characterLook.eyeBrownForward"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Wysokość kości policzkowych</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.cheeksBoneWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.cheeksBoneHigh"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość kości policzkowych</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.cheeksBoneWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.cheeksBoneWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość policzków</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.cheeksWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.cheeksWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Otwarcie oczu</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.eyesOpenning" [max]="2" [step]="0.1" [(ngModel)]="characterLook.eyesOpenning"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Grubość ust</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.lipsThickness" [max]="2" [step]="0.1" [(ngModel)]="characterLook.lipsThickness"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Szerokość kości żuchwy</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.jawBoneBackLenght" [max]="2" [step]="0.1" [(ngModel)]="characterLook.jawBoneWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Długość kości żuchwy</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.jawBoneBackLenght" [max]="2" [step]="0.1" [(ngModel)]="characterLook.jawBoneBackLenght"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Opuszczenie kości brody</mat-card-subtitle> 
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.chimpBoneLowering" [max]="2" [step]="0.1" [(ngModel)]="characterLook.chimpBoneLowering"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Długość kości brody</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.chimpBoneLenght" [max]="2" [step]="0.1" [(ngModel)]="characterLook.chimpBoneLenght"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Grubość szyi</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.chimpBoneWidth" [max]="2" [step]="0.1" [(ngModel)]="characterLook.chimpBoneWidth"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Grubość szyi #2</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.chimpHole" [max]="2" [step]="0.1" [(ngModel)]="characterLook.chimpHole"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        perm_data_setting
      </i>
    </div>
  <mat-card-subtitle>Przedziałek na brodzie</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.neckThikness" [max]="2" [step]="0.1" [(ngModel)]="characterLook.neckThikness"></mat-slider>
  </mat-card-content>
</mat-card>