.card-container {
    max-height: 200px;
    overflow-y: auto;
} 

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
::-webkit-scrollbar-thumb {
    background: #3f9b40;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #2f8b30;
    margin-top: -20px;
}