.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    width: 560px;
}

.building-img {
    width: 150px;
}
.p-title {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}
.p-data {
    margin-left: 10px;
}
