<div class="container">
  <div class="speedometr-background">
      <div class="car-measurements">
          <p>Pomiary pojazdu</p>
          <p id="car_speed"></p>
          <img src="../../../assets/img/vehicles/speedometr/speed.png" id="speed">
          <img id="speed_warning" src="../../../assets/img/vehicles/speedometr/revolutions.png">
      </div>
      <div class="car-controls">
          <p id="controls-text">Kontrolki</p>
          <img src="../../../assets/img/vehicles/speedometr/engine.png" id="engine">
          <img src="../../../assets/img/vehicles/speedometr/oil.png" id="oil">
          <img src="../../../assets/img/vehicles/speedometr/radiator.png" id="radiator">
      </div>
  </div>
</div>