.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}
.bus-logos {
    margin-left: 75px;
}
.bus-logos img {
    margin-left: 10px; 
    width: 100px;
}