<div class="container">
  <div class="app_title">
    <p>Ustawienia</p>
    <div class="search_container">
      <span class="material-icons">
        search
      </span>
      <input type="text" placeholder="Szukaj">
    </div>
  </div>

  <div class="owner_information">
    <div class="owner_avatar">
        <img src="https://eu.ui-avatars.com/api/?name=Richard+McCartney">
    </div>
    <div class="owner_name">
      <p>Richard McCartney</p>
    </div>
    <div class="other_information">
      <p>Gamble ID, GCloud, GTunes, App Store</p>
    </div>
  </div>
</div>
