<div class="container">
  <mat-card>
    <mat-card-header>
      <span class="material-icons" mat-card-avatar>
          notifications_active
      </span>
      <mat-card-title>Odszedłeś od klawiatury</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="1:1.3">
        <mat-grid-tile>
            <mat-card-subtitle>Twoja postać otrzymała status gracza AFK. W tym momencie twoja slużba jak i czas przegrany na serwerze nie jest naliczany.</mat-card-subtitle>
        </mat-grid-tile>

        <mat-grid-tile>
          <img src="../../../assets/img/key/keyboard.svg" class="keyboard">
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>