<div class="container">
  <div class="app_header">
    <p>Wiadomości</p>
    <input type="text" placeholder="Szukaj" />
  </div>

  <div class="app_content">
    <div class="message_list">


      <div class="message">
        <div class="message_basic_information">
          <img class="message_sender_avatar" src="https://eu.ui-avatars.com/api/?name=Richard+McCartney">
          <p class="message_sender_name">Richard McCartney</p>
          <p class="message_sender_time">8:20 AM</p>
        </div>

        <p class="message_sender_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
          beatae vitae dicta sunt explicabo</p>
      </div>

      <div class="message">
          <div class="message_basic_information">
            <img class="message_sender_avatar" src="https://eu.ui-avatars.com/api/?name=Richard+McCartney">
            <p class="message_sender_name">Richard McCartney</p>
            <p class="message_sender_time">8:20 AM</p>
          </div>
  
          <p class="message_sender_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo</p>
        </div>

        <div class="message">
            <div class="message_basic_information">
              <img class="message_sender_avatar" src="https://eu.ui-avatars.com/api/?name=Richard+McCartney">
              <p class="message_sender_name">Richard McCartney</p>
              <p class="message_sender_time">8:20 AM</p>
            </div>
    
            <p class="message_sender_text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo</p>
          </div>

    </div>
  </div>
</div>
