.players-container {
    max-height: 450px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
  
::-webkit-scrollbar-thumb {
    background: #3f9b40;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #2f8b30;
    margin-top: -20px;
}

.p-id-item {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
}