.workers-rights {
    margin-left: 50px;
    display: flex;
    width: 250px;
}

.workers-rights i {
    margin-top: 12px;
    margin-left: 10px;
}
.worker_name {
    width: 250px;
}

.p-title {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 4px;
}

.option-extented {
    margin-left: 80px;
    width: 50px;
}