<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        settings_ethernet
      </i>
    </div>
  <mat-card-subtitle>Krój spodni</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.legsId" [max]="legsId" [step]="1" [(ngModel)]="characterLook.legsId"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        remove_red_eye
      </i>
    </div>
  <mat-card-subtitle>Model spodni</mat-card-subtitle>
  </mat-card-header>

  <!-- TODO: Naprawić bląd który wywala przez to, że tablica jest pusta na początku przez chwile -->
  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.legsTexture" [max]="legsTexture" [(ngModel)]="characterLook.legsTexture" step="1"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        settings_ethernet
      </i>
    </div>
  <mat-card-subtitle>Buty</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.shoesId" [max]="shoesId" [step]="1" [(ngModel)]="characterLook.shoesId"></mat-slider>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">
        remove_red_eye
      </i>
    </div>
  <mat-card-subtitle>Model butów</mat-card-subtitle>
  </mat-card-header>

  <!-- TODO: Naprawić bląd który wywala przez to, że tablica jest pusta na początku przez chwile -->
  <mat-card-content>
    <mat-slider color="primary" [min]="0" [thumbLabel]="characterLook.shoesTexture" [max]="shoesTexture" [(ngModel)]="characterLook.shoesTexture" step="1"></mat-slider>
  </mat-card-content>
</mat-card>

