.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

.bank-logos img{
    width: 100px;
    margin-left: 40px;
}
mat-form-field {
    width: 70px;
}