.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

.dot {
    width: 5px;
    height: 5px;
    border: 3px solid green;
    border-radius: 50%;
    background-color: transparent;
}