.color-button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-size: 100px;
    /* box-shadow: 3px 2px 2px black; */
}
.color-list-container {
    /* display: inline !important; */
}
.color-list {
    display: inline;
    /* margin-left: 5px; */
}
