<div class="container">
  <div class="app_header">
    <p class="add_contact">+</p>

    <p>Kontakty</p>
    <input type="text" placeholder="Szukaj" />

    <div class="hallmark">
      <img src="https://eu.ui-avatars.com/api/?name=Richard+McCartney">
      <p>Moja wizytówka</p>
    </div>
  </div>

  <div class="app_content">
    <div class="separation"></div>

    <div class="alphabet">
      <p *ngFor="let letter of getAlphabet()">{{ letter }}</p>
    </div>

    <div class="contact_list">
      <div class="contact">
        <p>Richard McCartney</p>
      </div>
      <div class="contact">
        <p>Richard McCartney</p>
      </div>
      <div class="contact">
        <p>Richard McCartney</p>
      </div>
      <div class="contact">
        <p>Richard McCartney</p>
      </div>
      <div class="contact">
        <p>Richard McCartney</p>
      </div>
      <div class="contact">
        <p>Richard McCartney</p>
      </div>
      <div class="contact">
          <p>Richard McCartney</p>
        </div>
        <div class="contact">
          <p>Richard McCartney</p>
        </div>
        <div class="contact">
          <p>Richard McCartney</p>
        </div>
        <div class="contact">
          <p>Richard McCartney</p>
        </div>
        <div class="contact">
          <p>Richard McCartney</p>
        </div>
        <div class="contact">
          <p>Richard McCartney</p>
        </div>
    </div>
  </div>
</div>
