<div class="contacts_container" *ngIf="!isContactSelected()">
  <div class="app_header">
    <p class="add_contact">+</p>

    <p>Kontakty</p>
    <input type="text" placeholder="Szukaj" />

    <div class="hallmark">
      <img src="https://eu.ui-avatars.com/api/?name=Richard+McCartney">
      <p>Moja wizytówka</p>
    </div>
  </div>

  <div class="app_content">
    <div class="separation"></div>

    <div class="alphabet">
      <p *ngFor="let letter of getAlphabet()">{{ letter }}</p>
    </div>

    <div class="contact_list">
      <div class="contact" *ngFor="let contact of smartphoneData.smartphoneContacts" (click)="selectContact(contact)">
        <p>{{ contact?.name }}</p>
      </div>
    </div>
  </div>
</div>

<div class="contact_container" *ngIf="isContactSelected()">
  <div class="contact_detail">
    <app-smartphone-telephone-contact-detail [selectedContact]="selectedContact"></app-smartphone-telephone-contact-detail>
  </div>
</div>
