.container {
    background-color: #212121;
    width: 445px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    border-radius: 10px;
    color: white;
}

.start_work_header_title {
    font-size: 30px;
    font-weight: 800;
    opacity: 0.7;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
}
.start_work_header_subtitle {
    margin: 0;
    font-weight: 200;
    opacity: 0.7;
    margin-left: 20px;
}

.salary {
    font-weight: 200;
    opacity: 0.7;
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 0px;
}
.salary span {
    margin-top: 10px;
}

.start-work {
    width: 150px;
    height: 25px;
    background: none;
    border: none;
    outline: none;
    border: 1px solid rgb(0, 128, 0, 0.8);
    color: rgb(255, 255, 255, 0.7);
    font-weight: 100;
    font-size: 12px;
    margin-left: 140px;
    margin-top: 10px;
}

.start-work:hover {
    border: 1px solid rgb(0, 128, 0, 0.3);
}

.start_work_footer p {
    font-weight: 200;
    opacity: 0.7;
    font-size: 12px;
    margin-left: 108px;
}

