<div class="container">
    <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="../../../assets/img/clip/clip.gif" />
          <mat-card-title>Lista twoich opisów</mat-card-title>
          <mat-card-subtitle>Wybierz interesujący Cię opis postaci</mat-card-subtitle>
        </mat-card-header>
      
      
        <mat-card-content>


          <mat-card class="character-card-description-list"  style="border: 1px solid grey;">
            <mat-card-header>
              <mat-card-subtitle>Wybierz spośród opcji</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-list class="list-character-description">

                <mat-list-item role="listitem" class="detail-description" *ngFor="let description of descriptions">
                  <p>{{ description.title }}</p>
                  <hr>
                  <div class="options-buttons">
                      <button mat-button (click)="setDescription(description)">Wybierz</button>
                      <button mat-button>Edytuj</button>
                      <button mat-button (click)="deleteDescription(description)">Usuń</button>
                  </div>
                </mat-list-item>

              </mat-list>
            </mat-card-content>
          </mat-card>

          <mat-card  style="border: 1px solid grey;">
            <mat-card-header>
              <mat-card-subtitle>Wpisując dane w okienka możesz utworzyć nowy opis</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>

              
              <mat-list>
                <mat-list-item role="listitem" class="list-input">
                    <mat-form-field class="descripion-input">
                        <input matInput placeholder="Tytuł"  maxlength="20" type="text" [(ngModel)]="newDescription.title" />
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-form-field class="descripion-input">
                        <textarea matInput placeholder="Opis" rows="4" maxlength="192" [(ngModel)]="newDescription.content"></textarea>
                    </mat-form-field>
                </mat-list-item>
                <mat-list-item role="listitem">
                  <button mat-button class="save-button" (click)="createCharacter()">Zapisz</button>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          
        </mat-card-content>
      </mat-card>
</div>
