.options-buttons {
  margin-left: 10vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.descripion-input {
  width: 100%;
}

.list-input {
    margin-bottom: 40px;
}

.character-card-description-list {
    margin-bottom: 15px;
}
.list-character-description {
    max-height: 100px;
    overflow-y: auto;
}

.detail-description {
    display: block !important;
}
.save-button {
    margin-top: 30px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #3f9b40;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f8b30;
  margin-top: -20px;
}
