<div class="container-in-vehicle">
  <mat-card class="into-vehicle-card">
    <mat-card-content>
        <mat-chip-list class="into-chips">
            <mat-chip color="primary" class="chips-option" (click)="turnEngine()"><img src="../../../assets/img/vehicles/motor.svg" class="into-vehicle-chips">Silnik</mat-chip>
            <mat-chip color="primary" class="chips-option"><img src="../../../assets/img/vehicles/car_doors.svg" class="into-vehicle-chips">Drzwi</mat-chip>
            <mat-chip color="primary" class="chips-option"><img src="../../../assets/img/vehicles/information.svg" class="into-vehicle-chips">Informacje</mat-chip>
        </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
