.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    width: 660px;
} 

.group-logo img {
    max-width: 500px;
    max-height: 500px;
}

.navbar-menu a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.p-title {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 4px;
}
.p-data {
    margin-left: 10px;
}

.section {
    margin-top: 20px;
}
