.p-title {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 4px;
}
#vid{
    width: 100px;
}
#vehicle_name {
    width: 100px;
}
.vehicle-information-extented {
    display: flex;
    margin-left: 30px;
    width: 400px;
}

.vehicle-information-extented i {
    margin-top: 15px;
    margin-left: 15px;
}

.vehicle_information {
    width: 250px;
    display: inline-block;
}

.options {
    margin-left: 30px;
    width: 50px;
}