<div class="container">
  <div class="app_header">
    <p class="edit">Edytuj</p>
      <p>Ostatnie</p>
  </div>

  <div class="app_content">
    <div class="recent_list">
      <div class="recent">
        <div class="basic_information">
            <p class="number">7874 874</p>

            <p class="city">Los Santos</p>
        </div>

        <div class="time_and_options">
            <p>17:28</p>
            <img src="../../../../../../../assets/img/smartphone/apps/telephone/info.svg" alt="">
        </div>
      </div>

      <div class="recent">
          <div class="basic_information">
              <p class="number">7874 874</p>
  
              <p class="city">Los Santos</p>
          </div>
  
          <div class="time_and_options">
              <p>17:28</p>
              <img src="../../../../../../../assets/img/smartphone/apps/telephone/info.svg" alt="">
          </div>
        </div>

        <div class="recent">
            <div class="basic_information">
                <p class="number">7874 874232</p>
    
                <p class="city">Los Santos</p>
            </div>
    
            <div class="time_and_options">
                <p>17:28</p>
                <img src="../../../../../../../assets/img/smartphone/apps/telephone/info.svg" alt="">
            </div>
          </div>

          <div class="recent">
              <div class="basic_information">
                  <p class="number">7874 874232</p>
      
                  <p class="city">Los Santos</p>
              </div>
      
              <div class="time_and_options">
                  <p>17:28</p>
                  <img src="../../../../../../../assets/img/smartphone/apps/telephone/info.svg" alt="">
              </div>
            </div>

            <div class="recent">
                <div class="basic_information">
                    <p class="number">7874 874232</p>
        
                    <p class="city">Los Santos</p>
                </div>
        
                <div class="time_and_options">
                    <p>17:28</p>
                    <img src="../../../../../../../assets/img/smartphone/apps/telephone/info.svg" alt="">
                </div>
              </div>

              
            <div class="recent">
                <div class="basic_information">
                    <p class="number">7874 874232</p>
        
                    <p class="city">Los Santos</p>
                </div>
        
                <div class="time_and_options">
                    <p>17:28</p>
                    <img src="../../../../../../../assets/img/smartphone/apps/telephone/info.svg" alt="">
                </div>
              </div>

              
            <div class="recent">
                <div class="basic_information">
                    <p class="number">7874 874232</p>
        
                    <p class="city">Los Santos</p>
                </div>
        
                <div class="time_and_options">
                    <p>17:28</p>
                    <img src="../../../../../../../assets/img/smartphone/apps/telephone/info.svg" alt="">
                </div>
              </div>

              
            <div class="recent">
                <div class="basic_information">
                    <p class="number">7874 874232</p>
        
                    <p class="city">Los Santos</p>
                </div>
        
                <div class="time_and_options">
                    <p>17:28</p>
                    <img src="../../../../../../../assets/img/smartphone/apps/telephone/info.svg" alt="">
                </div>
              </div>


    </div>
  </div>
</div>