<div class="container-body-part-detail">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Wybierz ubranie</mat-card-title>
        <mat-card-subtitle>Pamiętaj, że wygląd twarzy możesz zmienić tylko raz</mat-card-subtitle>
        <img mat-card-avatar src="../../../assets/img/clip/clip.gif" />
      </mat-card-header>
      <mat-card-content *ngIf="body == 0">
        <app-character-creator-face [characterLook]="characterLook"></app-character-creator-face>
      </mat-card-content>

      <mat-card-content *ngIf="body == 1">
        <div class="hair-settings">
             <app-character-creator-hair [characterLook]="characterLook"></app-character-creator-hair>
        </div>   
        <div class="color-palette">
            <app-character-creator-color-palette [characterLook]="characterLook"></app-character-creator-color-palette>
        </div>       
      </mat-card-content>

      <mat-card-content *ngIf="body == 3">

      </mat-card-content>
    </mat-card>
  </div>
