<div class="container-body-part-detail">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Wybierz ubranie</mat-card-title>
        <mat-card-subtitle>Pamiętaj, że wygląd twarzy możesz zmienić tylko raz</mat-card-subtitle>
        <img mat-card-avatar src="../../../assets/img/clip/clip.gif" />
      </mat-card-header>
      <mat-card-content>
        <div class="color-palette">
            <app-character-creator-color-palette></app-character-creator-color-palette>
        </div>     
        <div class="hair-settings">
          <app-character-creator-hair></app-character-creator-hair>
        </div>     
      </mat-card-content>
    </mat-card>
  </div>