<div class="container">
  <div class="vehicle_info_header">
    <p class="vehicle_info_header_title">Informacje o pojeździe</p>
    <p class="vehicle_info_header_subtitle">Tutaj znajdują się informacje o twoim pojeździe</p>
  </div>

  <div class="vehicle_info_content">
    <div class="basic_info">
      <p class="basic_info_title"><span class="material-icons">
          contact_support
        </span> Informacje ogólne</p>
      <p class="basic_info_text"><span class="material-icons">
          directions_car
        </span> Model: {{ vehicleInfo?.vehicle?.model }} </p>
      <p class="basic_info_text"><span class="material-icons">
        local_gas_station
        </span> Paliwo w baku: 0L / 100L</p>
      <p class="basic_info_text"><span class="material-icons">
        local_drink
        </span> Spalanie: 20L/100KM</p>
      <p class="basic_info_text"><span class="material-icons">
        speed
        </span> Przebieg: 12000 KM</p>
      <p class="basic_info_text"><span class="material-icons">
        favorite
        </span> Życie: {{ vehicleInfo?.vehicle?.health }} HP</p>
    </div>

    <div class="addon_info">
      <p class="basic_info_title"><span class="material-icons">
        contact_support
      </span> Dodatki</p>
    </div>

    <mat-list class="addon_list">

      <mat-list-item class="addon_item" *ngFor="let upgrade of vehicleInfo?.upgrades">
        <p class="addon_id">[ID: {{ upgrade?.id }}]</p>
        <p class="addon_name">{{ upgrade?.name }}</p>
        <button class="addon_option" (click)="removeUpgrade(upgrade)">Wymontuj</button>
      </mat-list-item>

    </mat-list>
  </div>
</div>
