.container {
    margin-top: 5vh;
    margin-right: 2vh;
    width: 400px;
    float: right;
    opacity: 0.9;
}

.card-container {
    border-left: 10px solid rgb(40, 100, 41);
}

.subtitle-style {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}
.hungry-thirst_bar {
    width: 100px;
}

.voice-chat_script img{
    width: 30px;
    float: right;
    margin-top: -35px;
}
.hungry-thirst_script {
    display: contents;
    margin-left: 30px !important;
}
.food-drink {
    width: 15px;
    margin-right: 10px;
}
.logo-background {
    position: absolute;
    width: 75px;
    margin-left: 130px;
    margin-top: -60px;
    opacity: 0.4;
}
